<!-- frontend/templates/status.html -->
{% extends "base.html" %}
{% block title %}服务器状态 - Mid·Night Teeworlds{% endblock %}

{% block content %}
<div class="hero">
  <div class="hero-content">
    <p class="hero-title">
      服务器状态
    </p>
  </div>
</div>

<div class="card">
<div class="server-list">
    {% if servers %}
    {% for server in servers %}
        <div class="member-card" style="margin: 1rem 0; padding: 1rem;">
        <div class="text-sm">
            <div class="font-medium">{{ server.name }}</div>
            <div class="text-gray-400">{{ server.game_type }}</div>
            <div class="text-xs">
            {{ server.num_players }} / {{ server.max_players }} 玩家在线
            </div>
        </div>
        <span style="margin-left: auto; font-weight: bold; color: #00b4d8;">
            {{ server.num_players }}/{{ server.max_players }}
        </span>
        </div>
    {% endfor %}
    {% else %}
    <p class="text-xl" style="text-align: center; color: #a0aec0; margin-top: 2rem;">
        暂无服务器在线
    </p>
    {% endif %}
</div>
</div>
{% endblock %}